#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
parameters:


php:
	date.timezone: Europe/Prague


nette:
	application:
		errorPresenter: Error
		mapping:
			*: App\*Module\Presenters\*Presenter

	session:
		expiration: 14 days


services:
	router: App\RouterFactory::createRouter

	- App\Authenticator
	- App\Authorizator

	- App\SchoolsFacade
	- App\GroupsFacade
	- App\UsersFacade
	- App\StudentsFacade
	- App\SportsFacade

	- App\Components\ISignInControlFactory
	- App\Components\IEditSchoolControlFactory
	- App\Components\IEditGroupControlFactory
	- App\Components\IEditUserControlFactory
	- App\Components\IEditStudentControlFactory
	- App\Components\IEditSportControlFactory
	- 
		implement: App\Forms\IEntityFormFactory
		inject: yes
		setup:
				- addProtection

extensions:
	console: Kdyby\Console\DI\ConsoleExtension
	events: Kdyby\Events\DI\EventsExtension
	annotations: Kdyby\Annotations\DI\AnnotationsExtension
	doctrine: Kdyby\Doctrine\DI\OrmExtension
	translation: Kdyby\Translation\DI\TranslationExtension
	validator: Kdyby\Validator\DI\ValidatorExtension
	doctrineForms: Kdyby\DoctrineForms\DI\FormsExtension

doctrine:
	user: test
	password: '***'
	dbname: sportak
	metadata:
		App: %appDir%/model