
{block content}
<h1 n:block="title">Registrace nového učitele / nové učitelky</h1>
<p>Po zadání všech požadovaných údajů budete zaregistrován/a jako učitel/ka a následně budete moci propojit svůj účet se školou.</p>
<p>V případě, že se s registrovanou školou již některý učitel propojil před Vámi, požádejte ho o přidělení přístupu. 
	Pokud daný učitel již na Vaší škole neučí, <a n:href="Contact:">kontaktujte mě</a> a po ověření Vám bude přidělen přístup.</p>
	
{control editUser}